.promotions {
    display: flex;
    flex-direction: column; /* Adjust if needed */
    align-items: center;
    justify-content: center;
    background-color: none;
    height: 40vh;
    margin-bottom: 5rem;
  
    img {
      max-height: 400px;
      max-width: 100%; /* Adjust as needed */
      object-fit: contain;
      margin-bottom: 1rem; /* Add some spacing between images */
    }
  
    .buttons {
      display: flex;
      flex-direction: row;
      gap: 1rem;
      justify-content: center; /* Center the buttons horizontally */
      margin-top: 1rem; /* Add some spacing above the buttons */
  
      .button1,
      .button2 {
        color: var(--background-white);
        background-color: var(--text-violet);
        border-radius: 3rem;
        padding: 0.5rem 1rem; /* Adjust padding for better spacing */
        z-index: 10;
  
        &:hover {
          color: var(--text-violet);
          background: var(--main-green);
        }
  
        &:active {
          background: var(--background-white);
        }
      }
    }
  }
  