:root{
  --main-green: #65E892;
  --background-blue: #3994D6;
  --accent-purple: #354ABF;
  --text-violet: #3D289B;
  --background-white: #F7EFE5;
  --pixel: 'Pixelify Sans', sans-serif;
  --modern: 'Orbitron', sans-serif;
  --gothic: 'League Gothic', sans-serif;
  --leckerli: 'Leckerli One', cursive;
  --grand: 'Grandstander', cursive;
  --title-font-size: 3rem;

}
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}
body{
  background: linear-gradient( 45deg, rgba(0, 187, 255, 0.211) 20%, var(--background-white) 100%);
  background-repeat: no-repeat;
  background-size: cover;
}